.header {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 45px auto 0 auto;
}

.header__logo {
  width: 173px;
  height: 33px;
}

.header__line {
  border-bottom: #545454 solid 1px;
  padding-top: 40px;
}
